
 .shopping-cart::-webkit-scrollbar {
  width: 11px;
}
.shopping-cart {
  scrollbar-width: thin;
  scrollbar-color: #D4AF37 #ffffff;
}
.shopping-cart::-webkit-scrollbar-track {
  background: #ffffff;;
}
.shopping-cart::-webkit-scrollbar-thumb {
  background-color: #D4AF37 ;
  border-radius: 6px;
  border: 3px solid #ffffff;;
}

.shopping-cart {
    z-index: 999;
    float: right;
    background: white;
    width: 320px;
    max-height: 400px;
    overflow-y: auto;
    position: fixed;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #c5c5c5;
    margin-left: 20px;    
    .shopping-cart-header {
      border-bottom: 1px solid #c5c5c5;
      padding-bottom: 15px;
      
      .shopping-cart-total {
        float: right;
      }
    }
    
    .shopping-cart-items {
      list-style: none;
      padding-top: 20px;
  
        li {
          margin-left: -20px;
          margin-bottom: 18px;
        }
  
      img {
        width: 100px;
        float: left;
        margin-right: 12px;
      }
      
      .item-name {
        display: block;
        padding-top: 10px;
        font-size: 16px;
      }
      
      .item-price {
        color: #D4AF37;
        margin-right: 8px;
      }
      
      .item-quantity {
        color: rgb(0, 0, 0);
      }
    }
     
  }
  
  .shopping-cart:after {
      bottom: 100%;
      left: 89%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #c5c5c5;
      border-width: 8px;
      margin-left: -8px;
  }
  
  .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
  
  .button {
    background: #D4AF37;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
    
    &:hover {
      background: lighten(#D4AF37, 3%);
    }
  }

  .badge {
    background-color: #D4AF37;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.shopping-cartNone{
    display: none;
}

.mpointer{
  margin-left: 40%;
  cursor: pointer;
}

@media only screen and (min-width:1900px){
  .shopping-cart {
    margin-left: 140px;    

  }
}