<div class="shopping-cart" [ngClass]="cartClass">
  <div class="shopping-cart-header">
    <div *ngIf="(cart | async)?.length">
      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{(cart | async)?.length}}</span>
    </div>
    <div *ngIf="!(cart | async)?.length">
      <p>Agrega algo para hacerme feliz!</p>
    </div>
  </div>
  <div *ngIf="(cart | async)?.length">
    <ul class="shopping-cart-items">
      <li class="clearfix" *ngFor="let watch of (cart | async); let i = index">
        <i class="fa fa-times mpointer" aria-hidden="true" (click)="removeFromCart(i)"></i>
        <img src="{{watch.image}}" alt="item1" />
        <span class="item-name">{{watch.name}}</span>
        <span class="item-price">{{watch.price |currency: '' : 'symbol' : '1.0-0' }}</span>
        <span class="badge">{{watch.quantity}}</span>
      </li>
    </ul>
    <a href="#" class="button">Pagar</a>
  </div>
</div>