
<div class="mt-5">
      <!-- Site footer -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>Sobre Nosotros</h6>
              <p class="text-justify">Wristex.com <i>QUIERE SER SIMPLE </i>es un ecommerce de relojes de alta gama a un precio que no conseguiras en ningun lugar. Queremos brindarte el mejor servicio posible.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Ayuda</h6>
              <ul class="footer-links">
                <li><a [routerLink]="['/about']">Nosotros</a></li>
                <li><a href="">Contactanos</a></li>
                <li><a href="">Contribui</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Condiciones</h6>
              <ul class="footer-links">
                <li><a href="">Privacidad y Politicas</a></li>
                <li><a href="">Terminos</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2022 Todos los derechos reservados por 
           <a href="#">Wristex</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>
</div>
